@import "../abstracts/variables/variables.scss";
@import "../abstracts/mixins/mixins.scss";

.eshop_body {
  background-color: $color-white;
  
  // position: relative;
  // min-height: 100vh;

  &-header {
    background-color: $color-grey-light;
    width: 100%;
    padding: .9rem 1.5rem;
    // padding: 1rem;
    font-size: 2rem;
    font-weight: 500;
    // text-align: center;
    margin-bottom: 1rem;

    // background-color: red;
    grid-column: 1/-1;
       
    @include respond(tab-land) {
      padding: 1rem;
    } 
  }

  &-content {
    padding: 2rem 4rem;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fill,16vw);
    justify-content: space-between;
    grid-gap: 1rem;

    @include respond(tab-land) {
      grid-template-columns: repeat(auto-fill, 17vw);
      padding: 1.5rem 2rem;
    }
    
    @include respond(tab-port) {
      grid-template-columns: repeat(auto-fill, 20vw);
    }

    @include respond(phone-lg) {
      grid-template-columns: repeat(auto-fill, 30vw);
      padding: 1rem;
    }

    @include respond(phone-md) {
      grid-template-columns: repeat(auto-fill, 31vw);
      grid-gap: .5rem;
      grid-row-gap: 1rem;
    }

    @include respond(phone-sm) {
      grid-template-columns: repeat(auto-fill, 45vw);
    }

    .eshop_product {
      // min-width: 15vw;
      // max-width: 15vw;
      height: fit-content;
      background-color: $color-white;
      // margin: 2rem;
      // margin: 1rem;
      place-items: center;
      // background-color: red;
      flex: 1;

    

      &:hover {
        transform: translateY(-3px);
        border-radius: 2rem;
        box-shadow: 0 10px 20px $shadow-dark;

        .like_btn {
            visibility: unset;

            @include respond(phone-lg) {
              visibility: hidden;
            }
        }
      }

      &-img {
        // background-color: orange;
        width: auto;
        height: 250px;
        position: relative;

        // @include respond(tab-land) {
        //   height: 220px
        // }

        // @include respond(tab-port) {
        //   height: 200px
        // }

        // @include respond(phone-lg) {
        //   height: 170px;
        // }

        // // @include respond(phone-md) {
        // //   height: 150px;
        // // }

        // // @include respond(phone-sm) {
        // //   height: 180px;
        // // }

        @include respond(tab-land) {
          height: 17vw;
        }
        
        @include respond(tab-port) {
          height: 20vw;
        }
    
        @include respond(phone-lg) {
          height: 34vw;
        }
    
        @include respond(phone-md) {
          height: 35vw;
        }
    
        @include respond(phone-sm) {
          height: 49vw;
        }

        .like_btn {
            @include likeBtn;

            top: .5rem;
            right: .5rem;
            position: absolute;
            visibility: hidden;
        }

        &:hover {
          transform: translateY(-5px);
          transition: 0.5s;
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden; 
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
          // border-radius: 3rem;
        }
      }

      &-details {
        // background-color: aqua;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        place-items: center;
        backface-visibility: hidden;
        
        @include respond(tab-land) {
          padding: 0 .5rem;
          // row-gap: .5rem;
          :not(:last-child) {
            margin-bottom: .5rem;
          }
        }

        h3 {
          text-align: center;
          font-size: 1.5rem;
          text-overflow: ellipsis;
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
        }

        p {
          font-size: 2rem;
          font-weight: 600;
          color: $color-grey-dark-2;
          margin-bottom: 1rem;

          @include respond(phone-lg) {
            margin-bottom: .5rem;
          }
        }

        .addtocart {
          border: none;
          padding: 1.2rem;
          border-radius: 2rem;
          // background-color: #5D05B5;
          background-image: $background-image-active-rb;
          color: $color-white;
          text-transform: uppercase;
          font-size: 1rem;
          font-weight: 700;
          margin-bottom: 0.5rem;
          box-shadow: 0 10px 10px $shadow-dark;
          // transform: translateY(-5px);
          // word-spacing: -1px;
          min-width: fit-content;
          white-space: nowrap;
          line-height: 1;

          // @include respond(tab-land) {
          //   font-size: 1.2rem;
          //   // width: 70%;
          // }

          @include respond(phone-lg) {
            font-size: 1.1rem;
            width: 100%;
            line-height: 1.5;
          }

          // @include respond(phone-sm) {
          //   font-size: 1rem;
          //   width: 80%;
          //   // display: none;
          // }

          &:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 30px $shadow-dark;
            cursor: pointer;
            transition: all .2s;
          }

          
          &:active {
            outline: none;
            transform: translateY(-1px);
            box-shadow: 0 5px 15px $shadow-dark;
          }
        }
      }
    }
  }
}
