$color-purple: #b5057a;
$color-purple-transparent: #5d05b531;

$color-white: #fff;
$color-black: #000;
$color-green: #28b485;
$color-yellow: #FFE500;

$color-red-light: #ff8591;
$color-red-dark: #dc3545;

$color-grey-light: #F4F2F4;
$color-grey-light-2: #e5e5e5;
$color-grey-light-3: #f2f4f2;
$color-grey-light-4: #dbdada;

$color-grey-dark: #b1b1b1;
$color-grey-dark-2: #7c7474;
$color-grey-dark-2-tranparent: #7c74748c;
$color-grey-dark-3: #616161;
$color-grey-dark-4: #6161619d;

$shadow-dark: rgba(32, 30, 30, 0.2);

$border-image: linear-gradient(#5D05B5, #dc3545) 27;

$background-image-active-r: linear-gradient(to right, #dc3545,#5d05b5);
$background-image-inactive-r: linear-gradient(to right, #dc3545a2,#5d05b5a2);

$background-image-active-rb: linear-gradient(to right bottom, #5D05B5, #dc3545);
$background-image-inactive-rb: linear-gradient(to right bottom,#5d05b5a2,#dc3545a2);