@import "../abstracts/variables/variables.scss";
@import "../abstracts/mixins/mixins.scss";

.cart {
  // background-color: red;
  &_header {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .ifempty {
    font-size: 1.5rem;

    .gotohome {
      background-image: $background-image-active-rb;
      font-size: 1.5rem;
      // min-width: 25%;
      min-width: fit-content;
      padding: 1.2rem 2rem;
      margin-top: 2rem;
      animation: moveInBottom 0.5s ease-out 0.75s;
      animation-fill-mode: backwards;
      line-height: 1;
      white-space: nowrap;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-purple, 0.2);
      }
    }
  }

  &_items {
    border: 0.2rem $color-grey-light solid;
    border-radius: 2rem;
    padding: 2rem 1rem;
    background-color: $color-white;
    
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // background-color: #28b485;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      .item_description {
        display: flex;
        align-items: center;

        .item-img {
          min-width: 120px;
          max-width: 120px;
          height: 120px;

          @include respond (tab-port) {
            min-width: 100px;
            max-width: 100px;
            height: 100px;
          }

          @include respond (phone-md) {
            min-width: 80px;
            max-width: 80px;
            height: 80px;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }

        .description_content {
          margin-left: 2rem;
          padding: 1.5rem 0;
          // display: flex;
          // flex-direction: column;
          max-width: 60%;
          display: grid;
          grid-row-gap: .5rem;
          align-content: space-between;

          @include respond (phone-lg) {
            margin-left: 1rem;
          }

          .product_name {
            font-size: 1.6rem;
            font-weight: 500;
            // background-color: red;
          }

          span {
            display: flex;
            align-items: center;

            .price {
              font-size: 1.6rem;
              font-weight: 600;
              margin-right: 0.5rem;
              color: $color-grey-dark-2;

              &_description {
                font-size: 1.3rem;
                font-weight: 500;
                color: $color-grey-dark;
              }
            }
          }
        }
      }
      .delete_btn {
        background-color: $color-red-light;
        padding: 0.5rem 0.8rem;
        border-radius: 0.5rem;
        font-size: 1rem;
        font-weight: 750;
        color: $color-white;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
          background-color: $color-red-dark;
        }

        i {
          font-size: 2rem;
        }

        p {
          margin-left: 0.5rem;
        
          @include respond(phone-md) {
            display: none;
          }
        }

      }
    }
  }

  &_summary {
    background-color: $color-white;
    border: 0.2rem $color-grey-light solid;
    border-top: 0;
    border-radius: 2rem;
    padding: 1rem;

    &-header {
      font-size: 2rem;
      font-weight: 600;
      // background-color: red;
      padding: 0 0 1rem 0;
      border-bottom: 0.2rem $color-grey-light solid;
    }

    div {
      font-size: 1.6rem;
      display: flex;
      justify-content: space-between;
      // margin-bottom: 1rem;

      &:not(:last-child) {
        padding: 0.5rem 0;
      }

      &:last-child {
        margin-top: 0.5rem;
      }

      p:last-child {
        font-weight: 650;
        color: $color-grey-dark-2;
      }
    }

    .delivery {
      border-bottom: 0.2rem $color-grey-light solid;
    }
  }
  &-decision {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .empty_btn {
      background-color: $color-red-dark;

      &:hover {
        opacity: .8;
      }

      i {
        margin-right: 0.5rem;
      }
    }

    .checkout_btn {
      background-color: $color-green;

      i {
        margin-left: 0.5rem;
      }
    }
  }
}

.cart_btn {
  padding: 1rem 1.5rem;
  min-width: fit-content;
  border: none;
  border-radius: 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: $color-white;
  cursor: pointer;
  line-height: 1.3;
  white-space: nowrap;
  min-width: fit-content;

  @include respond(phone-lg) {
    font-size: 1.2rem;
  }

  &:hover {
    opacity: .8;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
