@import "../abstracts/variables/variables.scss";
@import "../abstracts/mixins/mixins.scss";

.search {
    // background-color: red;

    &_results {
        padding: 0 6rem;
        margin-top: 1rem;
        font-size: 2rem;
        display: flex;

        @include respond(phone-lg) {
            padding: 0 2rem;
        }

        strong {
            margin-left: .5rem;
        }
    }

    .notfound {
        padding: 0 6rem;
        font-size: 2rem;
        margin-top: 2.5rem;
        color: $color-red-dark;

        @include respond(phone-lg) {
            padding: 2rem;
        }
    }

    .notfound_icon {
        display: flex;
        align-items: center;
        justify-content: center;

        .animated_icon {
            margin-top: -10rem;

            @include respond(phone-lg) {
                margin-top: -8rem;
            }
        }
    }
}