/*
0 - 600PX: Phone
600 - 900px: Tablet  portrait
900 - 1200px: Tablet landscspe
[1200 - 1000px]: is where our normal styles apply
1000px + :  Big desktop
*/
/*
$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

1em = 16px
*/
.form {
  margin-top: auto;
  margin-bottom: auto;
  padding: 3rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 800px) {
  .form {
    padding: 0;
  }
}
.form_welcome {
  text-align: center;
  font-size: 1.5rem;
  color: #616161;
}
.form_warning {
  text-align: center;
  font-size: 1.3rem;
  color: #616161;
  margin-bottom: 2rem;
  font-weight: 700;
}
.form-body {
  padding: 5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: row wrap;
  width: 40%;
}
.form-body div:not(:last-child) {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 1200px) {
  .form-body {
    width: 50%;
  }
}
@media only screen and (max-width: 800px) {
  .form-body {
    width: 70%;
  }
}
@media only screen and (max-width: 600px) {
  .form-body {
    width: 90%;
  }
}
.form-body .auth_header {
  margin-bottom: 6rem;
  font-size: 2.5rem;
}
.form-body_details {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: row wrap;
}
.form-body_details .form_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.form-body_details .form_input:not(:last-child) {
  margin-bottom: 3rem;
}
.form-body_details .form_input-field {
  padding: 0.74rem 2rem;
  border: none;
  border-radius: 2rem;
  width: 100%;
  font-size: 1.8rem;
  background-color: #e5e5e5;
  outline: none;
  display: flex;
  line-height: 1.5;
}
.form-body_details .form_input i {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
  color: #616161;
  cursor: pointer;
}
.form-body_details .form_input .alert_error {
  padding: 0 2rem;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #dc3545;
  color: #fff;
  width: 95%;
  text-align: center;
  border-radius: 0 0 1rem 1.5rem;
  transition: all 0.5s ease-in-out;
}
.form-body .form_action-btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.form-body .form_action-btn .form_btn {
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  background-image: linear-gradient(to right bottom, #5D05B5, #dc3545);
  justify-self: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  color: #fff;
}
.form-body .form_action-btn .form_btn:not(:last-child) {
  margin-right: 1rem;
}
.form-body .form_action-btn .disable {
  background-image: linear-gradient(to right bottom, rgba(93, 5, 181, 0.6352941176), rgba(220, 53, 69, 0.6352941176));
}
.form-body .login-signup {
  width: 100%;
  text-align: center;
}
.form-body .login-signup p {
  font-size: 1.5rem;
  color: #616161;
}
.form-body .login-signup a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  display: inline-block;
  border-radius: 2rem;
  color: #b5057a;
}/*# sourceMappingURL=form.css.map */